pandas>=2.2.0
numpy>=1.26.0
scikit-learn>=1.5.0
matplotlib>=3.9.0
plotly>=5.22.0
streamlit>=1.44.0
python-dotenv>=1.0.1
google-api-python-client>=2.170.0
langdetect>=1.0.9
joblib>=1.4.2
transformers>=4.52.0
torch>=2.7.0
evaluate>=0.4.3
datasets>=3.6.0
accelerate>=1.7.0
seaborn>=0.13.2
